code.hljs {    
  display: block;
  padding: 0px 10px;
  margin: 0;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  white-space: pre;
}
pre {
  padding: 0px;
  margin: 5px 0;
  display: flex;
  background: #F0F0F0;
}
